@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=Oswald&display=swap");
/* font-family: "Merriweather", serif;
font-family: "Oswald", sans-serif; */

h1 {
  font-family: "Merriweather", serif;
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 2em;
  text-transform: capitalize;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

header p {
  font-size: 1.2em;
  padding: 0px;
  margin: 0px;
}
